#popup-body {
    overflow: visible;
    margin: 0;
    width: auto;
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    color: rgb(27%, 27%, 27%);
}

.palette-header {
    min-width: 100%;
}

.palette-h2 {
    max-height: 45px;
    max-width: 75%;
    text-align: center;
    font-size: 1.55em;
    margin: 15px auto 25px auto;
    padding-bottom: 15px;
    border-bottom: 1px rgb(27%, 27%, 27%) solid;
}

#cont {
    min-height: 450px;
    width: 450px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 5px;
    padding-right: 5px;
}

.swatch {
    width: 75px;
    height: 75px;
    border-radius: 5%;
    margin: 5px;
    border: 1px rgb(211,211,211) solid;
}

.swatch-val {
    text-align: center;
    font-size: .75em;
    display: block;
}
