#popup-body {
    overflow: visible;
    margin: 0;
    width: auto;
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
}

.palette-header {
    min-width: 100%;
    text-align: center;
    font-size: 1.55em;
    margin-bottom: 0;
}

#cont {
    min-height: 450px;
    width: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.swatch {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0 5px 0 5px;
    border: 1px grey solid;
}
